.main-header {
  max-width: 1500px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 80px;
  overflow-x: scroll;
  padding-right: 30px;
  button {
    white-space: nowrap;
    margin-right: 15px;
    font-size: 13px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 8px;
    &:hover {
      background-color: rgb(255, 255, 255, 0.2);
    }
  }
}

.video-grid {
  margin-top: 150px;
}
