// Video Mixin
.video-mixin {
  .video-mixin__thumb {
    height: 190px;
    border-radius: 7px;
    width: 330px;
    background-color: ivory;
  }
  .video-mixin__data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 8px;
      font-size: 12px;
      .video-mixin__meta__name {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}
